@import './mixins/responsive';

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.banner {
    position: relative;

    &__image {
        background-image: url(https://via.placeholder.com/600x600);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100%;

        @include md {
            background-image: url(https://via.placeholder.com/1920x650);
            padding-bottom: 33.8%;
        }
    }

    &__wrapper {
        background-color: rgba($color: #000000, $alpha: 0.4);
        position: absolute;
        top: 0;
        bottom: 0;
    }

    p {
        letter-spacing: 0.14rem;
    }
}

.card-container {
    .btn.rounded-pill {
        letter-spacing: 0.15rem;
    }
}
